version: "3.9"

services:

  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.1-arm64
    container_name: elasticsearch_server
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - cluster.name=docker-es-cluster
      - node.name=es-node-1
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es_data:/usr/share/elasticsearch/data
      - ./elasticsearch/synonyms:/usr/share/elasticsearch/config/synonyms
    restart: always

volumes:
  es_data:
    driver: local
  redis_data:
    driver: local
  rabbitmq_data:
    driver: local
